# Importing Necessary Liblaries and Loading The dataset

In [1]:
import pandas as pd

In [2]:
#loading the dataset
df = pd.read_excel("C:/Users/Administrator/OneDrive/Desktop/my_model.xlsx")

In [3]:
df.head()

         COUNTY      VICTIM    AGE
0       MAKUENI   M/CYCLIST     26
1  TAITA TAVETA   M/CYCLIST     28
2        KILIFI   M/CYCLIST  A & J
3        NAKURU  PEDESTRIAN     65
4      MACHAKOS   PASSENGER      A

# Data Cleaning

## Handling Missing Values

In [45]:
# Handle unknown values in the 'AGE' column
df = df[df['AGE'] != 'unknown']
df

     COUNTY   AGE
0        19  26.0
1        36  28.0
2        29  65.0
3        28  15.0
4        11  17.0
..      ...   ...
180      28  45.0
181       7  55.0
182      37  25.0
183      34  60.0
184      24  24.0

[185 rows x 2 columns]

In [46]:
# Convert the 'AGE' column to numeric, setting errors='coerce' to handle non-numeric values
df['AGE'] = pd.to_numeric(df['AGE'], errors='coerce')

# Drop rows with non-numeric values in the 'Age' column
df = df.dropna(subset=['AGE'])

# Display the cleaned dataset
print(df.head())

   COUNTY   AGE
0      19  26.0
1      36  28.0
2      29  65.0
3      28  15.0
4      11  17.0

In [28]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply Label Encoding to a specific column
df['COUNTY'] = label_encoder.fit_transform(df['COUNTY'])

In [29]:
# Reseting the index to its normal order
df.reset_index(drop=True, inplace=True) 
df

     COUNTY   AGE
0        19  26.0
1        36  28.0
2        29  65.0
3        28  15.0
4        11  17.0
..      ...   ...
180      28  45.0
181       7  55.0
182      37  25.0
183      34  60.0
184      24  24.0

[185 rows x 2 columns]

# Data Preprocessing
## Split Data into Training and Testing Sets

In [30]:
from sklearn.model_selection import train_test_split

# Split the data into features (X) and the target variable (y)
X = df.drop(['AGE'], axis=1)  # Features
y = df['AGE']  # Target variable

# Split the data into a training set and a testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Building a Model
## A Linear Regression Model

In [31]:
from sklearn.linear_model import LinearRegression

# Create a linear regression model
model = LinearRegression()

# Train The Model
## Linear Regression Model Training

In [32]:
# Train the model
model.fit(X_train, y_train)

LinearRegression()

# Model Evaluation

In [33]:
from sklearn.metrics import mean_squared_error, r2_score

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 340.2495246925514
R-squared: -0.07409723406869495

# Saving the Model

In [34]:
import joblib

# Save the model to a file
joblib.dump(model, 'my_Model.pkl')

['my_Model.pkl']

# Model Working Test

In [42]:
import joblib

# Load the trained linear regression model
model = joblib.load('my_Model.pkl')

# Hypothetical dataset for prediction (replace with your own data)
data = [[23]]

# Make predictions
predicted_severity = model.predict(data)

# Print or use the predictions as needed
print("Predicted Severity:", predicted_severity)

Predicted Severity: [31.60021546]

C:\Users\Administrator\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(